{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{pageName}}
{% endblock %}

{% block body %}
<h1> Edit {{pageName}}: </h1>
<div class="form-group">
    <label>Article Information</label>
    
</div>

<form action= "{%url 'page' pageName%}" method = 'POST'>
    {% csrf_token %}
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="20" name = "info">{{page}}</textarea>
    <button type = "submit" onclick= "location.href ='{%url 'page' pageName%}">Submit</button>
<form>
 <form action= "{%url 'page' pageName%}">
        <button type = "submit" onclick= "location.href ='{%url 'page' pageName%}">Cancel</button>
 <form>
{% endblock %}